.cart {
  font-family: "Inter", sans-serif;
}

.cart__count--container {
  position: relative;
}

.cart__count {
  position: absolute;
  font-size: 10px;
  top: 0px;
  left: 15px;
  background-color: black;
  color: white;
  padding: 1px 5px;
  border-radius: 100%;
}

.fw__light {
  font-weight: 300;
}

.cart__container {
  padding: 1rem;
  border-radius: 10px;
}

.detail__navigations {
  padding: 0 2rem;
}

.bg__gray {
  background-color: #f2f2f2;
}

.cart {
  border-radius: 10px;
}
.cart__product--img {
  width: 100px;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.cart__product--info p {
  color: rgba(0, 0, 0, 0.6);
}
.cart__product--info {
  width: 55%;
}

.cart__product--info img {
  height: 100%;
  width: 100%;
}

.fa-trash-can {
  font-size: 1.2rem;
}

.buttons div {
  margin: 0 0.4rem;
}
.buttons button {
  border: 2px solid rgba(0, 0, 0, 0.325);
  background: transparent;
}

.voucher,
.product__prices {
  width: 75%;
}

.voucher input {
  width: 100%;
  border: none;
  border-radius: 15px;
}

.checkout {
  width: 50%;
}
/* media query---------------  */
@media only screen and (max-width: 750px) {
  .detail__navigations {
    padding: 0 1.5rem;
  }

  .detail__navigations h1 {
    font-size: 24px;
  }

  .cart__container {
    padding: 0.5rem;
  }
  .cart__product--info h2 {
    font-size: 20px;
  }
  .cart__product--info p {
    font-size: 14px;
  }
  .cart__product--info h5 {
    font-size: 19px;
  }
  .cart__product--info {
    width: 20%;
  }
  .fa-trash-can {
    font-size: 0.8rem;
  }

  .buttons div {
    margin: 0 0.2rem;
  }

  .buttons button i {
    font-size: 10px;
  }

  .voucher,
  .product__prices {
    width: 100%;
  }

  .product__prices ul li span {
    font-size: 14px;
  }

  .product__prices ul li:not(:last-child) span:first-child {
    color: rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (max-width: 450px) {
  .detail__navigations {
    padding: 0 1rem;
  }
  .cart__product--img {
    width: 25%;
  }
  .cart__product--info h2 {
    font-size: 14px;
  }
  .cart__product--info p {
    font-size: 12px;
  }
  .cart__product--info h5 {
    font-size: 15px;
  }
  .cart__product--info {
    width: 15%;
  }
  .checkout {
    width: 100%;
  }
}
